// Own Colors
$_white: #fff;
$_turbo: #ffe600;
$_mine-shaft: #333333;
$_dove-gray: #666666;
$_dusty-gray: #999999;
$_gallery: #eeeeee;
$_alabaster: #f9f9f9;
$_dodger-blue: #3483fa;

$primary-color: $_turbo;

$background-light-color: $_dusty-gray;
$background-lighter-color: $_gallery;
$background-lightest-color: $_alabaster;
$background-white-color: $_white;
$background-blue-color: $_dodger-blue;

$text-color: $_dusty-gray;
$text-black-color: $_mine-shaft;
$text-inverted-color: $_white;

$border-color: $_dusty-gray;
$border-light-color: $_gallery;
